h1{
    color: rgb(5, 192, 5);
    text-align: center;
    text-decoration: underline dashed red;

}
p{
    text-align: justify;
    line-height: 50px;
}
.paragraf1{
    text-transform: uppercase;
    letter-spacing: 0.5cm;
}
.paragraf2{
    text-transform:capitalize;
    word-spacing: 2cm;
}
.paragraf3{
    text-transform: none;
}
.box{
    text-shadow: 5px 5px 5px blue ;
}